version: '3'
services:
  mssql:
    container_name: srv-mssql
    image: microsoft/mssql-server-linux:2017-latest
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=P@ssw0rd
    networks:
      - net-mssql
    ports:
      - 1433:1433
    volumes:
      - ./db:/db
networks:
  net-mssql:
